
header, footer{
    text-align: center;
}


footer{
    background-color: rgb(226, 102, 102);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}

#boton-iniciar{  
    background-color: rgb(226, 102, 102);
    color: rgb(243, 243, 243);
    font-size: 14px;
    border: none;
    border-radius: 10px;
    width: 180px;
    padding: 24px;
    margin: 30px auto;
    display: block;
}



#boton-nueva{
    color: rgb(226, 102, 102);
    background-color: white;
    font-size: 12px;
    border-radius: 10px;
    border-color: rgb(226, 102, 102);
    border-width: 1px;
    width: 170px;
    padding: 9px 20px;
    margin: 30px auto;
    display: block;
}

h1{
    color: rgb(245, 112, 112);
}


canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input{
display: block;
height: 35px;
width: 240px;
font-size: 24px;
color: rgb(226, 102, 102);
border-style: none;
margin-bottom: 30px;
}

#boton-agregar, #boton-nuevo{
    background-color: rgb(226, 102, 102);
    color: rgb(243, 243, 243);
    font-size: 14px;
    border: none;
    border-radius: 10px;
    width: 180px;
    padding: 24px;
    margin: 30px auto;
}
#boton-cancelar{
    color: rgb(226, 102, 102);
    background-color: white;
    font-size: 14px;
    border-radius: 10px;
    border-color: rgb(226, 102, 102);
    border-width: 1px;
    width: 180px;
    padding: 24px;
}
.botones{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


#contenedor-agregar{
    display: none;
}
