
header, footer{
    text-align: center;
}

#boton-iniciar,#boton-agregar {
    
    background-color: rgb(226, 102, 102);
    color: rgb(240, 234, 234);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;

    width: 150px;
    padding: 7px;
    margin: 30px auto;
    display: block;
}

h1{
    color: rgb(245, 112, 112);
}


canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input{
display: block;
margin-right: auto;
margin-left: auto;
height: 25px;
width: 240px;
}